<template>
    <form @submit.prevent method="PATCH" action="/config" class="config-form">
        <div class="form-group input-group">
            <div class="input-group-addon"><i class="fa fa-key"></i></div>
            <label class="sr-only" for="key">App key</label>
            <input name="key" v-model="key" type="text" class="form-control" id="key" placeholder="Twitter app key"
                   required>
        </div>
        <div class="form-group input-group">
            <div class="input-group-addon"><i class="fa fa-user-secret"></i></div>
            <label class="sr-only" for="secret">App secret</label>
            <input name="secret" v-model="secret" type="text" class="form-control" id="secret"
                   placeholder="Twitter app secret" required>
        </div>
        <div class="form-group row submit text-right">
            <div class="col-12">
                <button @click="store" class="btn btn-info">Save</button>
            </div>
        </div>
        <b-alert :show="alert.countDown"
                 dismissible
                 :variant="alert.variant"
                 @dismissed="alert.countDown=0"
                 @dismiss-count-down="countDownChanged">
            {{alert.text}}
        </b-alert>
    </form>
</template>
<script>
    export default {
        data: function () {
            return {
                key: '',
                secret: '',
                alert: {
                    countDown: 0,
                    secs: 5,
                    variant: '',
                    text: ''
                },
            }
        },
        methods: {
            store: function () {
                if (this.key != '' && this.secret != '') {
                    let qs = require('qs');
                    this.$http.patch('/config',
                        qs.stringify({
                            key: this.key,
                            secret: this.secret
                        })
                    ).then((res) => {
                        this.showAlert('success', res.data.message);
                    }).catch((err) => {
                        console.log(err);
                        this.showAlert('warning', err.response.data.message);
                    });
                }
            },
            countDownChanged: function (countDown) {
                this.alert.countDown = countDown
            },
            showAlert: function (variant, text) {
                this.alert.text = text;
                this.alert.variant = variant;
                this.alert.countDown = this.alert.secs
            }
        },
        created() {
            this.$http.get('/config')
                .then((res) => {
                    this.key = res.data.key;
                    this.secret = res.data.secret;
                });
        }
    }
</script>