<template>
    <div>
        <button type="button" class="btn btn-primary btn-circle btn-lg config-btn" v-b-modal.configModal>
            <i class="fa fa-cog"></i>
        </button>
        <b-modal id="configModal"
                 ref="configModal"
                 title-tag="h4"
                 title="Config"
                 hide-footer="true"
        >
        <b-tabs>
            <b-tab title="Users" active>
                <users></users>
            </b-tab>
            <b-tab title="App config">
                <app-form></app-form>
            </b-tab>
        </b-tabs>
        </b-modal>
    </div>
</template>