<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div v-for="tweet in tweets" class="tweet">
                    <div class="row tweet-header">
                        <a :href="'https://twitter.com/'+tweet.user.screen_name" target="_blank">
                            <img :src="tweet.user.image" class="rounded-circle">
                            <strong>{{tweet.user.name}}</strong>
                            <small>@{{tweet.user.screen_name}}</small>
                        </a>
                    </div>
                    <div class="row tweet-content">
                        <a :href="'https://twitter.com/statuses/'+tweet.id" target="_blank">
                            <img v-if="tweet.media !== null" :src="tweet.media">
                            {{tweet.text}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                tweets: []
            }
        },
        methods: {
            fetch: function () {
                this.$http.get('/tweets')
                    .then((res) => {
                        this.tweets = res.data;
                    });
            }
        },
        created() {
            this.fetch();
            setInterval(this.fetch, 10000);
        }
    }
</script>
