<template>
    <div>
        <b-list-group class="user-list">
            <b-list-group-item v-for="user in users" :key="user">
                {{user}}
                <b-button-close @click="del(user)"><i class="fa fa-close"></i></b-button-close>
            </b-list-group-item>
        </b-list-group>
        <form @submit.prevent method="POST" action="/users">
            <div class="input-group">
                <input v-model="user" name="user" type="text" class="form-control" id="user"
                       placeholder="Twitter username" required>
                <span class="input-group-btn">
                    <button @click="store" class="btn btn-info" type="button">
                        <i class="fa fa-plus"></i> Add
                    </button>
                </span>
            </div>
        </form>
        <b-alert :show="alert.countDown"
                 dismissible
                 :variant="alert.variant"
                 @dismissed="alert.countDown=0"
                 @dismiss-count-down="countDownChanged">
            {{alert.text}}
        </b-alert>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                users: [],
                user: '',
                alert: {
                    countDown: 0,
                    secs: 5,
                    variant: '',
                    text: ''
                },
            }
        },
        methods: {
            store: function () {
                if (this.user != '') {
                    let qs = require('qs');
                    this.$http.post('/users',
                        qs.stringify({name: this.user})
                    ).then((res) => {
                        this.users.push(this.user);
                        this.user = '';
                        this.showAlert('success', res.data.message);
                    }).catch((err) => {
                        console.log(err);
                        this.showAlert('warning', err.response.data.message);
                    });
                }
            },
            del: function (user) {
                this.$http.delete('/users/' + user)
                    .then((res) => {
                        this.users = this.users.filter(item => item !== user)
                        this.showAlert('success', res.data.message);
                    });
            },
            countDownChanged: function (countDown) {
                this.alert.countDown = countDown
            },
            showAlert: function (variant, text) {
                this.alert.text = text;
                this.alert.variant = variant;
                this.alert.countDown = this.alert.secs
            }
        },
        created() {
            this.$http.get('/users')
                .then((res) => {
                    this.users = res.data;
                });
        }
    }
</script>