.config-btn {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  top: 10px;
  right: 10px;
  position: absolute;
}

.config-form {
  margin-top: 10px;
}

.user-list {
  margin: 10px 0;
}