.tweet {
  margin: 10px 10px 10px 58px;
  a {
    &, &:hover, &:focus {
      text-decoration: none;
      color: $body-color;
    }
  }
  .tweet-header {
    img {
      float: left;
      margin-top: 3px;
      margin-left: -58px;
      position: absolute;
      width: 48px;
      height: 48px;
    }
  }
  .tweet-content {
    img {
      float: left;
      height: 100px;
      margin-right: 15px;
    }
  }
}