@import "fonts";
@import "node_modules/bootstrap/scss/bootstrap";
@import 'node_modules/bootstrap-vue/dist/bootstrap-vue';
@import "tweets";
@import "config";

[v-cloak] {
  display: none;
}

.fade-enter-active, .fade-leave-active {
  @include transition($transition-fade);
}

.fade-enter, .fade-leave-to {
  opacity: 0
}